/* Reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #3033dd;
  color: #fff;
}

h1 {
  font-size: 2em;
  margin: 0;
}

main {
  padding: 20px;
}

.tambah-acara {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.tambah-acara form {
  display: flex;
  flex-wrap: wrap;
}

.tambah-acara label {
  margin-right: 10px;
  width: 100px;
}

.tambah-acara input,
.tambah-acara textarea {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.tambah-acara button {
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.daftar-acara {
  border: 1px solid #ddd;
  padding: 20px;
}

.daftar-acara h2 {
  margin-top: 0;
}

.daftar-acara ul {
  list-style: none;
  padding: 0;
}

.daftar-acara ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.daftar-acara ul li .tanggal,
.daftar-acara ul li .jam {
  font-weight: bold;
}
